* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 상단 박스 구역 시작*/
.TopContainer{
    width: 100%;
    margin: 0 auto;
    display: grid;
    height: auto;
    grid-template-columns: 1fr auto;
    align-items: center; 
    background-color: rgba(255, 255, 0, 0.568);
}


/* 네비게이터 영역 */
.TopNavigator{
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 4px;
    background-color: rgb(163, 255, 243);
}

/* 상단 로고 구역 */
.TopLogoImage{
    
    justify-self: start;
    background-color: rgba(0, 0, 255, 0.568);
    grid-column: 1;
}



.TopNavigatorTab{
    grid-column: 2;
    background-color: rgba(255, 0, 0, 0.568);
    display:flex;
}

.TopNavigatorTab2{
    grid-column: 3;
    justify-self: end;
    background-color: rgba(255, 0, 0, 0.568);
    display:flex;
}


.items{
    justify-items: center;
    align-content: center;
    margin-right: 10px;
}

/* 메인 컨텐츠 구역 시작*/
.MainLayoutArea{
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 0 round(up, 7.22223%, .2rem);
    background-color: #80ff9c;
}

.MainPageArea{
    min-height: 500px;
    background-color: burlywood;
}

.MainPageAreaContent{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 65px auto;

    background-color: #ffee00;
    
}

.MainPageAreaContentText{
    width: 100%;
    background-color: #7307ff;
}

.MainPageAreaContentIMG{
    width: 100%;
    align-items: center;
    background-color: #ff7979;
}